<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KinoGuide | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("КиноГид", "Index", "Film", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Список фильмов", "Index", "Film")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Добавить фильм", "New", "Film")</li>
                    } else
                    {
                        <li class="disabled"><a href="javascript:false;">Добавить фильм</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken();
                        }
                        <li class="navbar-text"><strong>@User.Identity.Name</strong></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Войти", "Login", "User")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
