@using  KinoGuide.Models
@model NewFilmViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/_LayoutPage.cshtml";
}

@using (@Html.BeginForm("New", "Film", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title pull-left">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <a href=@Url.Action("Index") class="pull-right">Отменить</a>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left media-middle">
                    <div style="width: 300px" class="js-media">
                        <img class="media-object" style="width: 300px" src=@Url.Content("~/Content/Images/no-image-available-300.png") />
                        @Html.TextBoxFor(x => x.FilePoster, new { @type = "file", @onchange="PreviewFile()" })
                        @Html.ValidationMessageFor(x => x.FilePoster)
                    </div>
                </div>
                <div class="media-body media-middle">
                    <table class="table">
                        <tr>
                            <td class="display">@Html.LabelFor(_ => _.Year)</td>
                            <td>
                               @Html.TextBoxFor(x => x.Year, new { @class = "form-control" } )
                               @Html.ValidationMessageFor(x => x.Year)
                            </td>
                        </tr>
                        <tr>
                            <td class="display">@Html.LabelFor(_ => _.Director)</td>
                            <td>
                                @Html.TextBoxFor(x => x.Director, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Director)
                            </td>
                        </tr>
                        <tr>
                            <td class="display">@Html.LabelFor(_ => _.Description)</td>
                            <td>
                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = 10 })
                                @Html.ValidationMessageFor(x => x.Description)
                            </td>
                        </tr>
                        <tr>
                            <td class="display">@Html.DisplayNameFor(_ => _.Author)</td>
                            <td>@Model.Author</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-footer text-center">
            <input class="btn btn-primary" type="submit" value="Сохранить"/>
        </div>
    </div>
}

@section scripts{
<script>
    function PreviewFile() {
        var preview = $(".js-media img");
        var file = $(".js-media input[type=file]").prop("files")[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.attr("src", reader.result);
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>    
}